n8n-contact-form-workflow.json
{
  "name": "Contact Form Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "contact-form-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "fromEmail": "={{ $env.N8N_EMAIL_FROM || 'noreply@example.com' }}",
        "toEmail": "={{ $env.N8N_EMAIL_TO || 'info@totalleakdetection.com' }}",
        "subject": "New Contact Form Submission - {{ $json.body.name }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background-color: #4CAF50; color: white; padding: 20px; text-align: center; }\n    .content { background-color: #f9f9f9; padding: 20px; margin-top: 20px; }\n    .field { margin-bottom: 15px; }\n    .label { font-weight: bold; color: #555; }\n    .value { margin-top: 5px; color: #333; }\n    .footer { margin-top: 20px; padding-top: 20px; border-top: 1px solid #ddd; font-size: 12px; color: #777; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>New Contact Form Submission</h1>\n    </div>\n    <div class=\"content\">\n      <div class=\"field\">\n        <div class=\"label\">Name:</div>\n        <div class=\"value\">{{ $json.body.name }}</div>\n      </div>\n      <div class=\"field\">\n        <div class=\"label\">Email:</div>\n        <div class=\"value\"><a href=\"mailto:{{ $json.body.email }}\">{{ $json.body.email }}</a></div>\n      </div>\n      <div class=\"field\">\n        <div class=\"label\">Phone:</div>\n        <div class=\"value\">{{ $json.body.phone || 'Not provided' }}</div>\n      </div>\n      <div class=\"field\">\n        <div class=\"label\">Message:</div>\n        <div class=\"value\">{{ $json.body.message }}</div>\n      </div>\n      <div class=\"field\">\n        <div class=\"label\">Submitted:</div>\n        <div class=\"value\">{{ $json.body.timestamp }}</div>\n      </div>\n    </div>\n    <div class=\"footer\">\n      <p>This email was sent from your contact form on Total Leak Detection website.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

